/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input:disabled{
    cursor: not-allowed;
    background-color: #e0e0e0;
    opacity: 0.7;
}